
*{
    margin: 0%;
    padding: 0%;
}.col img {
    height: 20em;
    width: 30em;
    display: none;

}

.col p {
    color: antiquewhite;
    font-weight: bold;
    font-style: initial;
}

@media (max-width: 1390px) and (min-width: 1000px) {
    
    .img-fluid {
        border: 4px solid dotted rgb(175, 41, 41);
        width: 100%;
        height: 36rem;
        position: relative;
    
        bottom: 80px;
        z-index: 0;
      }


    .col img {
        border-radius: 100%;
        height: 20em;
        width: 30em;
        display: block;

    }

    .col p {
        height: 150px;

    }

    .mb-3 {
        font-size: bold;
        color: blue;
        width: 720px;
        position: relative;
        top: 227px;
        margin: auto;
        z-index: 4;
        opacity: 0.7;

    }

    .btn-primary {
        width: 200px;
        z-index: 4;
    }

    .imgg {
        border-radius: 3px;
        height: 590px;
        width: 1500px;
        position: relative;
        bottom: 345px;
        left: 0px;
    }

    .col {
        background: url(./p/gif2.gif);
        z-index: 4;
        justify-content: space-between;
        background-color: rgb(207, 233, 217);
    }

    .box {
        background-color: #e1e1e1;
        position: relative;
        bottom: 345px;
        padding-top: 0px;
        padding-bottom: -1px;
        margin-right: 0px;
        border: 2px solid black;
        border-radius: 7px;
    }

    ul .fst-li {

        position: relative;
        bottom: 250px;
        left: 30px;
        height: 50px;
        width: 40px;
    }

    ul .scnd-li {
        position: relative;
        bottom: 250px;
        left: 30px;
        height: 50px;
        width: 40px;
    }

    ul .thrd-li {
        position: relative;
        bottom: 250px;
        left: 30px;
        height: 50px;
        width: 40px;
    }
    .fa{
         margin-inline-end: 100px;
    }
}

@media (max-width: 1000px) and (min-width: 768px) {
    .col img {
        border-radius: 100%;
        height: 19em;
        width: 26em;
        display: block;
    }

    .col p {
        overflow: scroll;
        height: 190px;
    }

    .position-relative {
        bottom: 234px;
    }

    .img-fluid {
        border: 4px solid dotted rgb(175, 41, 41);
        width: 100%;
        height: 29rem;
        position: relative;
        left: 3px;
        bottom: 80px;
        z-index: 0;
      }

    .mb-3 {
        width: 500px;
        position: relative;
        top: 248px;
        left: 10px;
        z-index: 2;
        margin: auto;
        opacity: 0.7;
    }

    .imgg {
        height: 570px;
        width: 990px;
        position: relative;
        bottom: 318px;
    }

    .btn-primary {
        width: 197px;
        z-index: 4;
    }

    .col {
        position: relative;
        background: url(./p/gif2.gif);
        z-index: 4;
        justify-content: space-between;
        background-color: rgb(207, 233, 217);
    }

    .box {
        background-color: #e1e1e1;
        position: relative;
        bottom: 320px;
        margin-right: 0px;
        border: 2px solid black;
        border-radius: 7px;
    }
    .fa{
        margin-inline-end: 90px;
   }
}


@media (max-width: 768px) and (min-width: 596px) {
    .col img {
        border-radius: 50%;
        margin: 1px;
        height: 16em;
        width: 23em;
        display: block;
    }

    .col p {
        font-size: 14px;
        height: 150px;
        overflow: scroll;
        margin-left: 20px; ;
    }


    .position-relative {
        bottom: 80px;
    }

    .img-fluid {
        border: 4px solid dotted rgb(175, 41, 41);
        width: 100%;
        height: 29rem;
        position: relative;
        bottom: 80px;
        z-index: 0;
      }

    .col {
        position: relative;
        top: 110px;
        padding: 0%;
        background-color: rgb(207, 233, 217);
    }

    .mb-3 {
        width: 500px;
        position: relative;
        top: 275px;
        margin: auto;

        z-index: 4;
        opacity: 0.7;
    }

    .btn-primary {
        width: 200px;
        z-index: 4;
    }

    .imgg {
        height: 498px;
        width: 855px;
        position: relative;
        bottom: 142px;
        left: 5px;
    }

    .mb-3 textarea {
        height: 100px;
    }

    .col {
        background: url(./p/gif2.gif);
        z-index: 4;
        justify-content: space-between;
        background-color: rgb(207, 233, 217);
    }

    .box {
        background-color: #e1e1e1;
        position: relative;
        bottom: 145px;
        margin-right: -5px;
        border: 2px solid black;
        border-radius: 7px;
    }
    .fa{
        margin-inline-end: 90px;
   }
    }


@media (max-width: 597px) and (min-width: 472px) {
    .col {
        position: relative;
        top: 110px;
        padding: 0%;
        background-color: rgb(207, 233, 217);
    }

    .col img {
        border-radius: 50%;
        height: 14em;
        width: 20em;
        display: block;

    }

    .col p {
        font-size: 13px;
        height: 150px;
        overflow: scroll;
        margin-left: 20px; ;
    }

    .position-relative {
        bottom: 80px;
    }

    .img-fluid {
        border: 4px solid dotted rgb(175, 41, 41);
        width: 100%;
        height: 29rem;
        position: relative;
        left: 3px;
        bottom: 80px;
        z-index: 0;
      }

    .mb-3 {
        width: 426px;
        position: relative;
        top: 240px;
        margin: auto;

        z-index: 4;
        opacity: 0.7;
    }

    .btn-primary {
        width: 150px;
        z-index: 4;
    }

    .imgg {
        height: 418px;
        width: 855px;
        position: relative;
        bottom: 179px;
        left: 1px;
    }

    .mb-3 textarea {
        height: 100px;
    }

    .col {
        background: url(./p/gif2.gif);
        z-index: 4;
        justify-content: space-between;
        background-color: rgb(207, 233, 217);
    }

    .box {
        background-color: #e1e1e1;
        position: relative;
        bottom: 179px;
        margin-right: -5px;
        border: 2px solid black;
        border-radius: 7px;
    }
    .fa{
        margin-inline-end: 70px;
   }
    }
    

@media (max-width: 472px) and (min-width: 0px) {
    .position-fixed {
        width: 100%;
        position: relative;
        z-index: 5;
      }
    .col {
        position: relative;
        top: 100px;
        padding: 0%;
        background-color: rgb(0, 0, 0);
    }


    .col img {
        background-color: black;
        border-radius: 50%;
        position: relative;
        height: 11em;
        width: 800px;

        display: block;
    }

    .col p {
        font-size: 11px;
        background-color: black;
        height: 133px;
        overflow: scroll;
        margin-left: 20px; ;
    }

    .position-relative {
        bottom: 80px;
    }

    .img-fluid {
        border: 4px solid dotted rgb(175, 41, 41);
        width: 100%;
        height: 29rem;
        position: relative;
        left: 3px;
        bottom: 80px;
        z-index: 0;
      }
    .body {
        overflow: scroll;
    }

    .d-flex {
        width: 300px;
        position: relative;
        bottom: 122px;
        left: 100px;
    }

    .d-flex .btn {
        position: relative;
        top: 37px;
    }

    .mb-3 {
        height: 54px;
        width: 353px;
        position: relative;
        top: 147px;
        margin: auto;
        z-index: 4;
        opacity: 0.7;
        font-size: bold;
        color: blue;
    }

    .btn-primary {
        position: relative;
        top: 30px;
        width: 100px;
        z-index: 4;
      
    }

    .imgg {
        height: 404px;
        width: 860px;
        position: relative;
        bottom: 136px;
    }

    .mb-3 textarea {
        height: 100px;
        position: relative;
        top: 20px;
    }

    .box {
        background-color: #e1e1e1;
        position: relative;
        bottom: 136px;
        margin-right: -5px;
        border: 2px solid black;
        border-radius: 7px;
    }
    .fa{
        padding: 15px;
    }
}
